<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body" style="background-color: #1c4267;">
          <h3 class="card-title text-white py-3">{{ title }}</h3>
          <ul class="text list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/home" class="btn btn-info">SystemInfo</a>
                </li>
            <li class="list-inline-item">
              <a routerLink="/sorting" class="btn btn-info">Sort Test</a>
                </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

